<!-- home.component.html -->
<div class="container">
  <h2>Welcome to Your Fitness App</h2>
  <button routerLink="/">Home</button>

  <button routerLink="/exercice">Post Exercice</button>
  <button routerLink="/listexercices">View All Exercices</button>
  <button routerLink="/salle">Post Salle</button>
  <button routerLink="/listsalles">View All Salles</button>
  <button routerLink="/programme">Post Programme</button>
  <button routerLink="/listprogrammes">View All Programmes</button>
  <button routerLink="/equipement">Post Equipement</button>
  <button routerLink="/listequipements">View All Equipements</button>
</div>

<!-- app.component.html -->
<div class="container">

</div>
